/*mobile first*/
h2 {
    padding-left: 2%;
    color:rgb(7, 7, 70);
    text-align: left;
    
    }
   #avatar {
    width: 200px;
   }
/*desktop version*/
@media screen and (min-width:480px) {
h2 {
padding-left: 40%;
color:rgb(7, 7, 70);
text-align: left;

}
#avatar {
    width: 30%;
   }
}
