/*mobile first*/

.App {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}



.App-header {
  margin: 5px 5px 5px;
  font-size: 12px;
  color: rgb(7, 7, 70);
  text-align: center;
  height: 300px;
}

#logo {
  width: 200px;
  text-align: left;
}
/*desktop version*/
@media screen and (min-width:480px) {
  #logo {
    width: 500px;
    text-align: center;
    
}
.App-header {
  margin-top: 50px;
  font-size: 36px;
  color: rgb(7, 7, 70);
  text-align: center;
  height: 300px;
}
}



