/*mobile first*/

.App {
  text-align: center;
}



.App-header {
  background-color: #0b1a37;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}

.App-link {
  color: #eaeced;
}

a {
  color: aqua;
  
}
a.active {
  color: red;
}

